@using PagedList;
@using PagedList.Mvc;
@model Tuple<IPagedList<SwiftSearch.Data.Vehicle>, IPagedList<SwiftSearch.Data.Furniture>>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


    <div class="search-form-header no-overlap">
        <div class="container">
            <h2 class="text-center ">Get all Your Cars and Furnitures here on the go!</h2>

                @using (Html.BeginForm())
        {

            <div class="row search-form-top-fields">
                <div class="col-md-11">
                    <input type="text" name="keyword" value="@ViewBag.Keyword" placeholder="Enter your Cars and Furniture names and Manufactures here, e.g.: Toyota, Sofa, Mercerdes, Honda, etc" class="form-control" />
                </div>

                <div class="col-md-1">
                    <button type="submit" class="form-btn search-btn"><i class="ion-android-search"></i></button>
                </div>
            </div>
}


            </div>
        </div>

    <main id="main" class="main">


        <div class="container row-padding">
            <div class="row">
                <div class="col-md-8">
                    <header class="section-header">

                        <h2 class="section-title">Popular Listings</h2>
                    </header>
                </div>
                <div class="col-md-4 text-right">
                    <br>
                    <br>
                    <a href="property-grid.html" class="btn btn-outline-primary">More Properties</a>
                </div>
            </div>
        
            <div class="row">
                @if (Model == null)
             {
                <h3 class="text-danger">@ViewBag.Error</h3>
            }
            else
            {
foreach (var item in Model.Item1)
{
            <div class="col-md-6 col-lg-4">
                <article class="property-post property-post-grid clearfix">
                    <div class="property-thumbnail">
                        <a href="@Url.Action("Details","Vehicles", new { id=item.ID})"><img src="@Url.Content(item.CarImage)" alt="Property"></a>
                        <div class="property-label"><a href="#">For Sale</a></div>
                    </div>
                    <div class="property-wrap">
                        <header class="property-header clearfix">
                            <div class="property-actions-wrap">
                                <span class="action-btn property-gallery-images" data-toggle="tooltip" data-placement="top" title="3 Photos"><i class="fa fa-camera"></i></span>
                                <span class="action-btn property-add-to-fav" data-toggle="tooltip" data-placement="top" title="Add to Favorite"><i class="fa fa-heart"></i></span>
                                <span class="action-btn property-add-to-compare" data-property-id="12" data-toggle="tooltip" data-placement="top" title="Add to Compare"><i class="fa fa-exchange"></i></span>
                            </div>
                            <h2 class="property-title">
                                <a href="single-property.html">@item.CarName</a>
                            </h2>
                            <p class="property-location">@item.CarAddress</p>

                        </header>
                        <ul class="property-meta list-unstyled">
                            <li>@item.CarModel</li>

                        </ul>
                        <footer class="property-footer">
                            <div class="row">
                                <div class="col-6">
                                    <span class="property-price"><span>#</span>@item.CarPrice.ToString("#,##,00.00")</span>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="@Url.Action("Details","Vehicles", new { id = item.ID})" class="btn btn-primary">More Info</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>
}
foreach (var item in Model.Item2)
{
            <div class="col-md-6 col-lg-4">
                <article class="property-post property-post-grid clearfix">
                    <div class="property-thumbnail">
                        <a href="@Url.Action("Details","Vehicles", new { id=item.ID})"><img src="@Url.Content(item.FurnitureImage)" alt="Property"></a>
                        <div class="property-label"><a href="#">For Sale</a></div>
                    </div>
                    <div class="property-wrap">
                        <header class="property-header clearfix">
                            <div class="property-actions-wrap">
                                <span class="action-btn property-gallery-images" data-toggle="tooltip" data-placement="top" title="3 Photos"><i class="fa fa-camera"></i></span>
                                <span class="action-btn property-add-to-fav" data-toggle="tooltip" data-placement="top" title="Add to Favorite"><i class="fa fa-heart"></i></span>
                                <span class="action-btn property-add-to-compare" data-property-id="12" data-toggle="tooltip" data-placement="top" title="Add to Compare"><i class="fa fa-exchange"></i></span>
                            </div>
                            <h2 class="property-title">
                                <a href="single-property.html">@item.FurnitureName</a>
                            </h2>
                            <p class="property-location">@item.FurnitureAddress</p>

                        </header>
                        <ul class="property-meta list-unstyled">
                            <li>@item.FurnitureModel</li>

                        </ul>
                        <footer class="property-footer">
                            <div class="row">
                                <div class="col-6">
                                    <span class="property-price"><span>#</span>@item.FurniturePrice.ToString("#,##,00.00")</span>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="@Url.Action("Details","Furnitures", new { id = item.ID})" class="btn btn-primary">More Info</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>
}
}

            </div>
        </div>


    </main>

    <div class="pagedList" style="margin:5%">
        @Html.PagedListPager((Model.Item1), page => Url.Action("Index", new
        {
            page,
            sortOn = ViewBag.SortOn,
            orderBy = ViewBag.OrderBy,
            pSortOn = ViewBag.SortOn,
            keyword = ViewBag.Keyword
        }),
                 PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>