<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from pearlthemes.com/html/homefind/home-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Jan 2018 13:10:23 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SwiftSearch - @ViewBag.Title</title>

   
    <!-- Stylesheet -->
    <link href="~/FrondEnd/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/FrondEnd/css/ionicons.min.css" rel="stylesheet" />

    <link href="~/FrondEnd/css/main.css" rel="stylesheet">
    <link href="~/FrondEnd/css/theme.css" rel="stylesheet">
    <script src="~/Scripts/vue.min.js"></script>
</head>
<body>


    <!-- Page Wrapper -->
    <div class="page-wrapper">

        <!-- Header -->
        <header id="header" class="header header-fullwidth">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-3">
                        <div class="site-branding">
                            <div class="wrap">
                                <h1 class="site-title">
                                    <a href="@Url.Action("Index","Home")" rel="home"><img src="images/logo.png" alt="SwiftSearch"></a>
                                </h1>
                                <!--<h1 class="site-title"><a href="index.html" rel="home">HomeFind</a></h1>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-9">
                        <div class="main-navigation-wrapper clearfix">
                            <a id="add-property-link" class="add-property-link" href="add-property.html">
                                <i class="ion-ios-plus-outline"></i> 
                            </a>
                            <nav id="main-navigation" class="main-navigation">
                                <div class="menu-primary-container">
                                    <ul class="menu-primary clearfix">
                                        <li class="current-menu-item menu-item-has-children">
                                            <a href="@Url.Action("Index","Home")">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">Listing</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="@Url.Action("Listing","Vehicles")">Vehicles</a>
                                                  
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Listing","Furnitures")">Furnitures</a>
                                                </li>
                                            </ul>
                                        </li>
                                        
                                        <li>
                                            <a href="#">Accounts</a>
                                            <ul class="sub-menu">
                                                <li><a href="@Url.Action("Login","Account")">Login</a></li>
                                                <li><a href="@Url.Action("Login","Account")">Register</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Info</a>
                                            <ul class="sub-menu">
                                                <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                                                <li><a href="@Url.Action("About","Home")">About</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <!-- Footer -->
        <footer id="footer" class="footer">
            <div class="container">
                <aside class="row footer-widgets">
                    <div class="widget-column col-md-6 col-lg-3">
                        <section class="widget widget_text">
                            <h2 class="widget-title d-none">About Us</h2>
                            <div class="textwidget">
                                <div class="footer-logo-widget">
                                    <a href="index.html"><img src="~/FrondEnd/images/logo.png" alt="Logo"></a>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="widget-column col-md-6 col-lg-3">
                        <section class="widget widget_contact">
                            <h2 class="widget-title">Contact Us</h2>
                            <div class="get-touch">
                                <h6 class="title">New York</h6>
                                <ul>
                                    <li><i class="fa fa-map-marker"></i><span>227 W 27th St, New York, NY 10001</span></li>
                                    <li><i class="fa fa-mobile"></i><span>+1 212-217-7999</span></li>
                                    <li><i class="fa fa-envelope-o"></i><a href="mailto:support@homefind.com">support@homefind.com</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="widget-column col-md-6 col-lg-3">

                        <section class="widget widget_nav_menu">
                            <h2 class="widget-title">Recommended Links</h2>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Company</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Cooperation</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Press</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="widget-column col-md-6 col-lg-3">
                        <section class="widget newsletter_widget">
                            <h2 class="widget-title">Our Newsletter</h2>
                            <form action="#">
                                <input type="email" placeholder="Your Email" required="">
                                <input type="submit" value="Sign Up">
                            </form>
                        </section>
                        <section class="widget widget_social_media">
                            <h6 class="sr-only">Social Media</h6>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </section>
                    </div>
                </aside>
            </div>
            <div class="sub-footer text-center">
                <div class="container">
                    <p><span>© @DateTime.Now.Year<a href="#" title="HomeFind">HomeFind</a> Sebig Solutions LTD</span></p>
                </div>
            </div>
        </footer>
    </div>

    <a href="#" id="scroll-to-top"><i class="fa fa-chevron-up"></i></a>



    <!-- Required Plugins and Scripts -->
    <script src="~/FrondEnd/js/jquery-3.2.1.min.js"></script>
    <script src="~/FrondEnd/js/jquery-migrate-3.0.1.js"></script>
    <script src="~/FrondEnd/js/popper.min.js"></script>
    <script src="~/FrondEnd/js/bootstrap.min.js"></script>
    <script src="~/FrondEnd/js/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/FrondEnd/js/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/FrondEnd/js/select2/js/select2.min.js"></script>
    <script src="~/FrondEnd/js/slicknav/jquery.slicknav.min.js"></script>
    <script src="~/FrondEnd/js/lightcase/vendor/jQuery/jquery.events.touch.js"></script>
    <script src="~/FrondEnd/js/lightcase/js/lightcase.js"></script>
    <script src="~/FrondEnd/js/jquery.form.min.js"></script>
    <script src="~/FrondEnd/js/jquery.validate.min.js"></script>
    <script src="~/FrondEnd/js/ResizeSensor.js"></script>
    <script src="~/FrondEnd/js/sticky-sidebar.min.js"></script>
    <script src="~/FrondEnd/js/scripts.js"></script>
    <link href="~/FrondEnd/js/flexslider/flexslider.css" rel="stylesheet">
    <link href="~/FrondEnd/js/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/FrondEnd/js/owl.carousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/FrondEnd/js/select2/css/select2.min.css" rel="stylesheet">
    <link href="~/FrondEnd/js/slicknav/slicknav.min.css" rel="stylesheet">
    <link href="~/FrondEnd/js/lightcase/css/lightcase.css" rel="stylesheet">
</body>
</html>