@model SwiftSearch.Data.Vehicle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Single Property -->
<div class="container page-container single-property">

    <header class="property-post single-property-header clearfix">
        <div class="property-wrap">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <h2 class="property-title">@Model.CarName</h2>
                    <p class="property-location">@Model.CarAddress</p>
                </div>
                <div class="col-md-6 col-lg-8">
                    <div class="row">
                        <div class="col-sm-6 col-md-12 col-lg-6 text-md-right text-lg-center">
                            <ul class="property-meta list-unstyled">
                               
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6 text-sm-right">
                            <span class="property-price"><span></span><a class="btn btn-outline-primary" href="@Url.Action("MakePayment","Vehicles", Model)">Proceed To Pay</a></span>
                            <div class="property-actions-wrap">
                                <span class="action-btn property-gallery-images" data-toggle="tooltip" data-placement="top" title="3 Photos"><i class="fa fa-camera"></i></span>
                                <span class="action-btn property-add-to-fav" data-toggle="tooltip" data-placement="top" title="Add to Favorite"><i class="fa fa-heart"></i></span>
                                <span class="action-btn property-add-to-compare" data-property-id="12" data-toggle="tooltip" data-placement="top" title="Add to Compare"><i class="fa fa-exchange"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="single-property-slider-wrap">
        <div class="flexslider sliders single-property-slider">
            <ul class="slides">
                <li>
                    <a data-rel="lightcase:property-slides" href="~/FrondEnd/images/demo/property/larger-1.jpg">
                        <img src="@Url.Content(Model.CarImage)" alt="Luxury Panoramic Loft Thumb">
                    </a>
                </li>
                <li>
                    <a data-rel="lightcase:property-slides" href="images/demo/property/larger-2.jpg">
                        <img src="@Url.Content(Model.CarImage)" alt="Luxury Panoramic Loft Thumb">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-xl-9">
            <div class="property-detail">
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequ at ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbis accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat cons equat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>

                <div class="property-features">
                    <h4 class="title">Features</h4>
                    <ul class="features-list list-unstyled clearfix">
                        <li><a href="#"><i class="ion-android-arrow-dropright"></i>Central Heating</a></li>
                        <li><a href="#"><i class="ion-android-arrow-dropright"></i>Electric Range</a></li>
                        <li><a href="#"><i class="ion-android-arrow-dropright"></i>Cleaning after Exit</a></li>
                        <li><a href="#"><i class="ion-android-arrow-dropright"></i>Home Theater</a></li>
                        <li><a href="#"><i class="ion-android-arrow-dropright"></i>Fire Place</a></li>
                        <li><a href="#"><i class="ion-android-arrow-dropright"></i>Lawn</a></li>
                        <li><a href="#"><i class="ion-android-arrow-dropright"></i>Cable TV</a></li>
                    </ul>
                </div>

                <div class="property-neighborhood">
                   
                </div>

                <div class="property-map">
                    
                </div>
            </div>

            
        </div>

    </div>
</div>

